In [1]:
# Load modules required 
import pandas as pd               # for data manipulation
import numpy as np                # for stats and numerical analysis
import matplotlib.pyplot as plt   # for plotting and data visualization
import sqlite3 as sqldatabase     # for importing data using SQL
import scipy.stats as stats       # for additional math calculations

In [3]:
# Polk data for 2019
dfPolk_2019 = pd.read_csv("/Users/sizlee/Desktop/Analytics project/Toyota_Updated_July9/TCI_REGS_DF_20200116.csv", header=0)
dfPolk_2019.head(5)

    MAKE SERIES     MODEL  MODEL_YEAR    REG_DT FLT_CD PROV
0  ACURA    ILX  4DR BASE        2020  20191112     DP   QC
1  ACURA    ILX  4DR BASE        2020  20191115     ML   ON
2  ACURA    ILX  4DR BASE        2020  20191122     ML   QC
3  ACURA    ILX  4DR BASE        2020  20191130      0   AB
4  ACURA    ILX  4DR BASE        2020  20191204     ML   ON

In [4]:
dfPolk_2019.shape

(2016657, 7)

In [5]:
# Polk data for 2020
dfPolk_2020 = pd.read_csv("/Users/sizlee/Desktop/Analytics project/Toyota_Updated_July9/TCI_REGS_DF_20200430.csv", header=0)
dfPolk_2020.head(5)

,MAKE,SERIES,MODEL,MODEL_YEAR,REG_DT,FLT_CD,Toy_CD,Toy_SEG,PROV
0,ACURA,ILX,4DR BASE,2020,20200205,0,R,LUXURY LOW,QC
1,ACURA,ILX,4DR PREM/TECH,2018,20200120,0,R,LUXURY LOW,SK
2,ACURA,ILX,4DR PREM/TECH,2018,20200121,0,R,LUXURY LOW,AB
3,ACURA,ILX,4DR PREM/TECH,2018,20200125,0,R,LUXURY LOW,SK
4,ACURA,ILX,4DR PREM/TECH,2018,20200131,0,R,LUXURY LOW,NS

In [6]:
dfPolk_2020.shape

(382430, 9)

In [7]:
# checking data types for 2019 POLK data
dfPolk_2019.dtypes

MAKE          object
SERIES        object
MODEL         object
MODEL_YEAR     int64
REG_DT         int64
FLT_CD        object
PROV          object
dtype: object

In [8]:
# checking how many columns have null in each case for 2019 POLK data
dfPolk_2019.isnull().sum()

MAKE          0
SERIES        0
MODEL         0
MODEL_YEAR    0
REG_DT        0
FLT_CD        0
PROV          0
dtype: int64

In [9]:
# checking data types for 2020 POLK data
dfPolk_2020.dtypes

MAKE          object
SERIES        object
MODEL         object
MODEL_YEAR     int64
REG_DT         int64
FLT_CD        object
Toy_CD        object
Toy_SEG       object
PROV          object
dtype: object

In [10]:
# checking how many columns have null in each case for 2020 POLK data
dfPolk_2020.isnull().sum()

MAKE          0
SERIES        0
MODEL         0
MODEL_YEAR    0
REG_DT        0
FLT_CD        0
Toy_CD        0
Toy_SEG       0
PROV          0
dtype: int64

In [111]:
Jan2019 = dfPolk_2019[dfPolk_2019['REG_DT'] <= 20190131]
Jan2019.shape[0]

155293

In [112]:
Jan19Toyota = Jan2019[ Jan2019["MAKE"] == "TOYOTA" ] 
Jan19Toyota.shape[0]

17090

In [116]:
Jan19Toyota.shape[0] / Jan2019.shape[0]
percentage = "{:.0%}".format(Jan19Toyota.shape[0] / Jan2019.shape[0])
print(percentage)

11%

In [121]:
Feb2019 = dfPolk_2019[(dfPolk_2019['REG_DT'] > 20190131) & (dfPolk_2019['REG_DT'] <= 20190228) ]
Feb2019.shape[0]

113925

In [122]:
Feb19Toyota = Feb2019[ Feb2019["MAKE"] == "TOYOTA" ] 
Feb19Toyota.shape[0]

11603

In [123]:
Feb19Toyota.shape[0] / Feb2019.shape[0]
percentage = "{:.0%}".format(Feb19Toyota.shape[0] / Feb2019.shape[0])
print(percentage)

10%